<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>

    <style>
        .main{
            display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-left: 100px;
        }
        h2{
            font-size: 40px;
            color:rgb(45,140,255) ;
            
        }
        h4{
            font-size: 30px;
            color: white;
        }
       button{
        display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    margin-top: 40px;
    margin-left: 30px;
  padding: 15px;
  font-size: 20px;
  width: 100%;
  align-items: center;
  background-color: rgb(45,140,255);
  color: white;
  border: none;
  cursor: pointer;
       }
       .buttons{
        margin-top: 50px;
       }
       .heading{
        margin-left: 30px;
       }


       .use{
        display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: space-between;
    align-items: center;
       }
       .use h4{
        margin-top: 40px;
        font-size: 40px;
       }
       p{
        font-size: 35px;
        color: lavenderblush;
       }
    </style>
</head >
<body background= "bg.jpg">
    <div class="main">

     <div class="main-main">
        <div class="heading">
            <h2>ZOOM CLONE</h2>
            <h4>Get connected</h4>
        </div>
        <div class="buttons">
            <button>Sign up</button>
           <a href="/room" style="text-decoration: none;"> <button>Host</button></a>
            <button>Join</button>
        </div>
    </div>
    </div>
    <div class="use">
        <h4>How to use</h4>
        <p>Copy the url of meeting and share with your friends</p>
    </div>
</body>
</html>